<div class="body">
    <div class="top-heroes">
        <h3>Top Heroes</h3>
        <!--search bar-->
        <mat-form-field>
            <mat-label>
                <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                </svg>
            </mat-label>
            <input matInput #searchBox type="text" (input)="search(searchBox.value)" [matAutocomplete]="auto">
        </mat-form-field>
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let hero of heroes$ | async" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
                {{hero.name}} 
            </mat-option>
        </mat-autocomplete>
    
        <!--list of top heroes-->
        <mat-card class="hero" *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
            <mat-card-header>
                <mat-card-title>{{hero.name}}</mat-card-title>
            </mat-card-header> 
            <mat-card-subtitle>Class: {{hero.class}} <br> Race:&nbsp; {{hero.race}}</mat-card-subtitle>  
        </mat-card>
    </div>
    
    <!--attributes hero-->
    <div>
        <app-info-hero class="info" *ngIf="selectedHero" [hero]="selectedHero"></app-info-hero>
    </div>
</div>
